.stack {
  position: absolute;
  top: 20%;
  width: 200px;
  height: 250px;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

.stack > div {
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45vh;
  max-width: 200px;
  height: 85vh;
  max-height: 250px;
  will-change: transform;
  user-select: none;
  border-radius: 10px;
  box-shadow: 0 5px 50px rgba(129, 129, 129, 0.05);

  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }
}
