@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import url("./scss/sidebar.scss");
@import url("./scss/category.scss");
@import url("./scss/landingpage.scss");

@import url("./content/TextAnimations/SplitText/SplitText.scss");
@import url("./content/TextAnimations/BlurText/BlurText.scss");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

input[type="color"] {
  border-radius: 15px;
  cursor: pointer;
  padding: 0;
}

input[type="color"]::-moz-color-swatch {
  border: 1px solid #ffffff1c;
  border-radius: 15px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 15px;
}

input[type="color"]::-webkit-color-swatch {
  border: 1px solid #ffffff1c;
  border-radius: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 100%;
}

.app-container {
  display: flex;
}
