.category-name {
  color: white;
  font-weight: 900;
  letter-spacing: -1px;
  font-size: 18px;
}

.category-page {
  width: calc(100% - 314px);
  position: absolute;
  right: 0px;
  padding: 5em 4em 4em 2em;
  min-height: 100vh;

  .main-category {
    text-transform: uppercase;
    opacity: 0.5;
    letter-spacing: -0.5px;
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
  }

  .sub-category {
    margin-bottom: 0.5em;
    line-height: 1em;
    font-size: 5rem;
    color: #fff;
    font-weight: 900;
  }
}

.code-highlighter {
  border: 1px solid #ffffff1c !important;
  border-radius: 20px !important;
  background: #000 !important;
  font-size: 14px !important;
  box-shadow: 0 8px 32px 0 rgba(0, 238, 255, 0.08) !important;
}

.demo-container {
  width: 100%;
  margin-top: 1em;
  background: linear-gradient(to top, #000, #111);
  border: 1px solid #ffffff1c;
  padding: 1em;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.split-text-demo,
.blur-text-demo {
  font-size: 6rem;
  font-weight: bolder;
}

.shiny-text-demo {
  font-weight: 300;
}

.shiny-button {
  cursor: pointer;
  border: 1px solid #353535;
  background-color: #111;
  padding: 0.4em 1.2em;
  border-radius: 50px;
  transition: 0.3s ease;

  &:hover {
    background-color: #222;
    transition: 0.3s ease;
  }
}

.demo-title {
  font-weight: bolder;
  margin-top: 0.5em;
  font-size: 2rem;

  span {
    font-size: 0.8rem;
    color: #a1a1aa;
    font-weight: 500;
  }

  &::first-letter {
    text-transform: uppercase;
  }
}

.demo-title-extra,
.demo-title-contribute {
  margin: 1em 0 0.5em 0;
  font-size: 1.4rem;
  font-weight: 900;
}

.demo-title-contribute {
  margin-top: 2em;
  letter-spacing: -0.5px;
  margin-bottom: 1em;
  text-align: center;
}

.contribute-container {
  background: linear-gradient(to bottom, #111, #000);
  border: 1px solid #161616;
  border-radius: 20px;
  margin-top: 1em;
  padding-bottom: 3em;
}

.contribute-button {
  background: linear-gradient(to bottom, #111, #000) !important;
  border: 1px solid #222;
  transition: 0.5s ease;

  span {
    color: #a1a1aa;
  }

  &:hover {
    color: #00f0ff;
    transition: 0.5s ease;
  }
}

.demo-details {
  font-size: 1.6rem;
  margin-bottom: 1em;
  margin-top: 0em;
  display: flex;
  gap: 0.3em;

  span {
    background-color: #222;
    white-space: nowrap;
    color: #fff;
    border-radius: 50px;
    font-size: 0.8rem;
    padding: 0.5em 1em;
    transition: 0.3s ease;

    &:hover {
      cursor: pointer;
      background-color: #111;
      transition: 0.3s ease;
    }
  }
}

.preview-options {
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ffffff1c;
}

.demo-extra-info {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: #a1a1aa;
}

.coming-soon {
  a {
    color: #00f0ff;
    text-decoration: underline;
  }
}

@media only screen and (max-width: 767px) {
  .category-page {
    width: 100%;
    padding-top: 6em;
    padding-left: 1em;
    padding-right: 1em;

    .main-category {
      font-size: 1rem;
    }

    .sub-category {
      font-size: 4rem;
    }
  }

  .split-text-demo,
  .blur-text-demo {
    font-size: 2rem;
    font-weight: bolder;
  }
}

.custom-gradient-class {
  padding: 1em 2em;
  text-align: center;
}

.count-up-text {
  font-size: 4rem;
  // color: white;
  font-weight: bold;
}
