.sidebar,
.sidebar-mobile {
  background-color: #000 !important;
  min-width: 300px;
}

.sidebar {
  border-right: 1px solid #ffffff17;
}

.sidebar-logo {
  margin-top: 1em;
  border-radius: 20px;
  border-bottom: none;
  width: 100%;

  img {
    position: relative;
    left: -3px;
    width: 120px;
  }
}

.active-sidebar-item {
  background-color: #111;
  border: 1px solid #ffffff17;
  border-radius: 10px;
  color: #00f0ff;
  padding: .5em .5em .5em .7em;
  transition: padding .3s ease;
}

.sidebar-item {
  padding: .5em;
  border: 1px solid transparent;
  transition: opacity .3s ease, padding .5s ease, background-color .5s ease, border .5s ease;

  &:hover {
    opacity: 0.5;
    transition: .3s ease;
  }
}