.sidebar,
.sidebar-mobile {
  background-color: #000 !important;
  min-width: 250px;
}

.sidebar {
  padding-bottom: 6em !important;
  // border-right: 1px solid #ffffff1c;

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    display: none;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 50px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: #222;
    }
  }
}

.sidebar-logo {
  margin-top: 1em;
  border-radius: 20px;
  border-bottom: none;
  width: 100%;

  img {
    position: relative;
    left: -3px;
    width: 120px;
  }
}

.sidebar-item {
  position: relative;
  font-size: 0.9rem;
  color: #a1a1aa;
  padding: 0.25em 0;
  transition: 0.3s ease;

  &:hover {
    text-decoration: underline;
  }

  &:before {
    content: "";
    width: 1px;
    height: 16px;
    background-color: #fff;
    position: absolute;
    left: -17px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

.active-sidebar-item {
  width: fit-content;
  padding: 0.25em 0.25em 0.25em 0em;
  color: #fff;
  position: relative;
  transition: 0.3s ease;

  &:hover {
    text-decoration: none;
  }

  &:before {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}

.github-button {
  border: 1px solid transparent;
  transition: 0.3s ease;

  img {
    transition: 0.3s ease;
  }

  &:hover {
    border: 1px solid #ffffff1c;
    background-color: #000 !important;
    color: #fff;
    transition: 0.3s ease;

    img {
      filter: invert(100%);
      transition: 0.3s ease;
    }
  }
}
